<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>LDU Matériel</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <main class="container">
        <h1>LDU Matériel</h1>
        <p>Le socle Spring Boot fonctionne.</p><a class="button" href="/materiels">Ouvrir l'application à construire</a>
        <section class="notice"><strong>Binôme :</strong> complétez les TODO dans l'ordre des missions.</section>
    </main>
</body>

</html>