* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: #ababab;
  background-color: #000000;

}
 
/* ===== HEADER ===== */
header {
  background-color: #000000;
  color: #fdfdfd;
  padding: 30px 40px;
  text-align: center;
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 1000;
}
 
header h1 {
  font-size: 2rem;
  margin-bottom: 8px;
}
 
/* ===== CONTENU PRINCIPAL ===== */
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}
.qui-suis-je, .moi, .Points_fort {
  padding-top: 150px;
}
h2 {
  color: #326caa;
  border-bottom: 2px solid #1A73E8;
  padding-bottom: 8px;
  margin: 30px 0 15px 0;
}

  h2 {
    margin-bottom: 24px;
  }
 
  .cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 500px;
  }
 
  .card {
    background: #f5f1e9;
    border: 1px solid #d8d2c4;
    border-radius: 12px;
    padding: 20px 24px;
    overflow: hidden;
    cursor: default;
  }
 
  .card h3 {
    margin: 0 0 4px;
    font-size: 16px;
  }
 
  .card .sous-titre {
    margin: 0;
    color: #777;
    font-size: 14px;
  }
 
  /* Texte caché par défaut */
  .reveal {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease, margin-top 0.3s ease;
    margin-top: 0;
  }
 
  .reveal p  {
    margin: 0;
    font-size: 13px;
    color: #555;
    line-height: 1.6;
  }

  /* Révélation au survol */
  .card:hover .reveal {
    max-height: 100px;
    opacity: 1;
    margin-top: 12px;
  }
/* ===== CARTES COMPETENCES ===== */
.competence {
  background: rgb(97, 97, 97);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(134, 134, 134, 0.1);
  animation-name:fadeIn;
  animation-duration: 2s;
  animation-iteration-count: ease-in-out;
}


 
/* ===== FOOTER ===== */
footer {
  background-color: #333333;
  color: white;
  text-align: center;
}
.contact {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
/* ===== NAVIGATION ===== */
nav {
    margin-top: 15px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background 0.2s;
}

nav a:hover {
    background-color:rgba(255, 255, 255, 0.2);
}
.competence:hover {
    transform: translateY(-4px);
    transition: transform 0.2s;
    background-color: rgb(19, 7, 250);
}
:root {
    --couleur: 1A3A5C;
    color: var(--couleur);
}
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
}
@keyframes fadeIn { 
    from{
        opacity:0
    }
    to{
        opacity:1
    }
    h1{
        animation: fadIn 1s;
    }
}
.image:hover {
    transform: scale(1.5);
    transition: transform 0.3s;
}